.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

.copyright-text {
  color: white;
  text-align: center;
}
.instagram-icon {
  width: 150px;
  height: 150px;
}
